<h2>Eventos</h2>
  <hr>
  <form>
    <div class="row mb-3">
      <div class="col-md-3 col-sm-6">
        <input type="text" class="form-control" id="buscar" placeholder="buscar">
      </div>
      <div class="col-md-1 col-sm-3">
        <button class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Imagem</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
  </table>
