<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu()">
  <a class="navbar-brand" routerLink="dashboard">
    <fa-icon icon="users" class=""></fa-icon>
  </a>
  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
        <li class="nav-item active">
          <a class="nav-link" routerLink="eventos/lista" routerLinkActive="active">Eventos <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="palestrantes" routerLinkActive="active">Palestrantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contatos" routerLinkActive="active">Contatos</a>
        </li>
      </ng-container>
    </ul>
    <div *ngIf="(accountService.currentUser$ | async) === null" class="navbar-nav me-3 d-xs-none d-none d-md-block">
      <a class="btn btn-light me-2 border" routerLink="/user/login">Entrar</a>
      <a class="btn btn-warning" routerLink="/user/registration">Me Cadastrar</a>
    </div>
    <ul *ngIf="(accountService.currentUser$ | async) !== null" class="navbar-nav me-3">
      <li class="nav-item dropdown" *ngIf="accountService.currentUser$ | async as user">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.userName | titlecase }}</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown01">
          <li><a class="dropdown-item" routerLink="/user/perfil">Perfil</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a (click)="logout()" class="dropdown-item" style="cursor: pointer">Sair</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
