<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="row">
  <div class="col-12">
    <h3 class="border-bottom">Detalhe Perfil</h3>
  </div>
  <div class="col">
    <label>Título</label>
    <select class="form-select" formControlName="titulo" [ngClass]="{'is-invalid' : f.titulo.errors && f.titulo.touched}">
      <option value="NaoInformado">Não Quero</option>
      <option value="Tecnologo">Tecnólogo(a)</option>
      <option value="Bacharel">Bacharel</option>
      <option value="PosGraduado">Especialista</option>
      <option value="PosGraduado">Pós Graduado(a)</option>
      <option value="Mestrado">Mestre</option>
      <option value="Doutorado">Doutor(a)</option>
      <option value="PosDoutorado">Pós Doc</option>
    </select>
    <div class="invalid-feedback">
      Título é obrigatório
    </div>
  </div>
  <div class=" col-sm-5">
    <label>Primeiro Nome</label>
    <input type="text" class="form-control" formControlName="primeiroNome" [ngClass]="{'is-invalid' : f.primeiroNome.errors && f.primeiroNome.touched}"/>
    <div class="invalid-feedback">
      Primeiro nome é obrigatório
    </div>
  </div>
  <div class="col-sm-5">
    <label>Último nome</label>
    <input type="text" class="form-control" formControlName="ultimoNome" [ngClass]="{'is-invalid' : f.ultimoNome.errors && f.ultimoNome.touched}"/>
    <div class="invalid-feedback">
      Último nome é obrigatório
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <label>E-mail</label>
    <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : f.email.errors && f.email.touched}"/>
    <div class="invalid-feedback">
      E-mail é obrigatório
    </div>
  </div>
  <div class="col-sm-4">
    <label>Telefone</label>
    <input type="text" class="form-control" formControlName="phoneNumber" [ngClass]="{'is-invalid' : f.phoneNumber.errors && f.phoneNumber.touched}"/>
    <div class="invalid-feedback">
      Telefone é obrigatório
    </div>
  </div>
  <div class="col-sm">
    <label>Função</label>
    <select class="form-select" formControlName="funcao" [ngClass]="{'is-invalid' : f.funcao.errors && f.funcao.touched}">
      <option value="NaoInformado">Não Informado</option>
      <option value="Participante">Participante</option>
      <option value="Palestrante">Palestrante</option>
    </select>
    <div class="invalid-feedback">
      Função é obrigatória
    </div>
  </div>
  <div class="col-12">
    <label for="descricaoPerfil">Descrição</label>
    <input type="text" class="form-control" id="descricaoPerfil" name="descricaoPerfil" value="" formControlName="descricao" [ngClass]="{'is-invalid' : f.descricao.errors && f.descricao.touched}"/>
    <div class="invalid-feedback">
      Descrição é obrigatória
    </div>
  </div>
</div>
<div>
  <h3 class="pt-3 border-bottom">Mudar Senha</h3>
  <p>Caso mude de senha, preencha os campos abaixo:</p>

</div>
<div class="row">
  <div class="col-sm">
    <label for="senhaPerfil">Senha</label>
    <input
      type="password"
      class="form-control"
      id="senhaPerfil"
      name="senhaPerfil"
      formControlName="password"
      [ngClass]="{'is-invalid' : f.password.errors && f.password.touched}"/>
    <div class="invalid-feedback">
      Senha é obrigatória
    </div>
  </div>
  <div class="col-sm">
    <label for="confirmarSenhaPerfil">Confirmar Senha</label>
    <input
      type="password"
      class="form-control"
      id="confirmarSenhaPerfil"
      name="confirmarSenhaPerfil"
      formControlName="confirmarPassword"
      [ngClass]="{'is-invalid' : f.confirmarPassword.errors && f.confirmarPassword.touched}"/>
    <div *ngIf="f.confirmarPassword.errors?.required" class="invalid-feedback">
      Confirmar senha é obrigatório
    </div>
    <div *ngIf="f.confirmarPassword.errors?.mustMatch" class="invalid-feedback">
      A senha não combina
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="d-flex">
    <button class="btn btn-outline-secondary me-auto border" (click)="resetForm($event)">
      Cancelar Alteração
    </button>
    <button class="btn btn-success" [disabled]="!form.valid" type="submit">
      Salvar Alteração
    </button>
    <!-- <p>Form value: {{form.value |json}}</p>
      <p>Form value: {{form.status |json}}</p> -->
  </div>
</div>
</form>
